<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evalytics Dashboard</title>
    <link rel="stylesheet" href="https://www.oracle.com/webfolder/technetwork/jet/css/jet-composites.css">
    <link rel="stylesheet" href="css/dashboard.css">
    <script src="https://www.oracle.com/webfolder/technetwork/jet/js/libs/require/require.js"></script>
    <script src="https://www.oracle.com/webfolder/technetwork/jet/js/libs/oj/v11.1.0/min/ojbootstrap.js"></script>    
  </head>
<body>
    <div class="oj-hybrid-padding">
        <h1>Evalytics Dashboard</h1>
        <div class="oj-flex oj-md-12 oj-flex-direction-row page-layout">
            <!-- Left Column (1/3 for buttons) -->
            <div class="oj-flex-item oj-md-4 card-1">
                <div class="button-container">
                    <oj-button chroming="callToAction" id="uploadButton" disabled="[[disableControls]]">
                        Upload
                    </oj-button>
                    <oj-button chroming="callToAction" id="processButton" disabled="[[disableControls]]">
                      Process Start
                  </oj-button>
                  <oj-button chroming="callToAction" id="endProcessButton" disabled="[[disableControls]]">
                      Process End
                  </oj-button>
                  <oj-button chroming="callToAction" id="loadButton" disabled="[[disableControls]]">
                      Load
                  </oj-button>

                </div>
                <div class="oj-flex-item oj-md-4 card-1">
                  <oj-button chroming="callToAction" id="analyseButton" disabled="[[disableControls]]">
                    Analyse
                </oj-button>
                <oj-button class="oj-button-md bggreen" id="viewButton" disabled="[[disableControls]]">
                    View
                </oj-button>
                <oj-button class="oj-button-md bggreen" id="saveButton" disabled="[[disableControls]]">
                    Save
                </oj-button>
                <oj-button  class="oj-button-md bggreen" id="shareButton" disabled="[[disableControls]]">
                    Share
                </oj-button>
                </div>
            </div>
            <!-- Right Column (2/3 for chart) -->
            <div class="oj-flex-item oj-md-8 card-1">
                <h2>Chart/Graph Section</h2>
                <div id="sampleDemo" class="demo-padding demo-container">
                    <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
                        <div id="chart-container">
                            <oj-chart
                                id="lineChart"
                                type="line"
                                data="[[dataProvider]]"
                                animation-on-display="auto"
                                animation-on-data-change="auto"
                                orientation="[[orientationValue]]"
                                hover-behavior="dim">
                                <template slot="itemTemplate" data-oj-as="item">
                                    <oj-chart-item
                                        value="[[item.data.value]]"
                                        group-id="[[ [item.data.quarter] ]]"
                                        series-id="[[item.data.series]]"></oj-chart-item>
                                </template>
                            </oj-chart>
                            <!-- vertical/horizontal toggle button -->
                            <demo-chart-orientation-control
                                type="line"
                                orientation="{{orientationValue}}"
                                aria-controls="lineChart"></demo-chart-orientation-control>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://www.oracle.com/webfolder/technetwork/jet/js/libs/oj/v11.1.0/min/ojbootstrap.js"></script>
    <script src="../../js/appController.js"></script>
</body>
</html>
