<!DOCTYPE html>
<html>
<body>

<h1>PEP</h1>

<form action="/parse-logs" method="POST" >
    <label for="filePath">file path</label>
    <input type="text" id="filePath" name="filePath" value="E:\TLC\New folder\file1.log"><br>
    <label for="processStart">Process start:</label><br>
    <input type="text" id="processStart" name="processStart" value="JobId: Process_Start1"><br>
    <label for="processEnd">Process End:</label><br>
    <input type="text" id="processEnd" name="processEnd" value="JobId: Process_End1"><br><br>
        <label for="load">Load:</label><br>
    <input type="text" id="load" name="load" value="1000"><br><br>
    <input type="submit">
</form>

</body>
</html>
